keep_alive.json
[{"id":"fc62466c.286f38","type":"tab","label":"Keep alive","disabled":false,"info":""},{"id":"ffd31816.3d2ae8","type":"inject","z":"fc62466c.286f38","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":100,"wires":[["afe337d0.1becd8"]]},{"id":"f9723b37.44b758","type":"exec","z":"fc62466c.286f38","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":530,"y":180,"wires":[["40c4e48f.f4f47c"],[],[]]},{"id":"40c4e48f.f4f47c","type":"debug","z":"fc62466c.286f38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":180,"wires":[]},{"id":"afe337d0.1becd8","type":"function","z":"fc62466c.286f38","name":"Ping_Gateway","func":"\n    msg.payload= \"ping 192.169.1.99\"\n    return msg;\n\n","outputs":1,"noerr":0,"x":340,"y":100,"wires":[["f9723b37.44b758"]]},{"id":"ded3a9e.5057b58","type":"function","z":"fc62466c.286f38","name":"Ping_Server","func":"\n    msg.payload= \"ping 192.169.1.1\"\n    return msg;\n\n","outputs":1,"noerr":0,"x":330,"y":180,"wires":[["f9723b37.44b758"]]},{"id":"a4a18574.f41888","type":"function","z":"fc62466c.286f38","name":"Ping_Device","func":"\n    msg.payload= \"ping 192.169.1.101\"\n    return msg;\n\n","outputs":1,"noerr":0,"x":329,"y":263,"wires":[["f9723b37.44b758"]]},{"id":"27acbd1e.990032","type":"inject","z":"fc62466c.286f38","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":180,"wires":[["ded3a9e.5057b58"]]},{"id":"db9a1cb1.53308","type":"inject","z":"fc62466c.286f38","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":260,"wires":[["a4a18574.f41888"]]}]