local storage.json
[{"id":"39ec1c72.cf0884","type":"tab","label":"Local storage","disabled":false,"info":""},{"id":"87c37fb8.07a1f","type":"debug","z":"39ec1c72.cf0884","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":240,"wires":[]},{"id":"d725a9da.5522e8","type":"file","z":"39ec1c72.cf0884","name":"","filename":"C:\\Users\\TMPL-FA-1943\\Desktop\\Akhtar\\device_id.log","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":460,"y":140,"wires":[["87c37fb8.07a1f"]]},{"id":"c1329723.e79f78","type":"file in","z":"39ec1c72.cf0884","name":"","filename":"C:\\Users\\TMPL-FA-1943\\Desktop\\Akhtar\\device_id.log","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":460,"y":340,"wires":[["87c37fb8.07a1f"]]},{"id":"6eb75af1.d22704","type":"inject","z":"39ec1c72.cf0884","name":"","topic":"","payload":"Akhtar","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":140,"wires":[["d725a9da.5522e8"]]},{"id":"6999f58c.cf450c","type":"inject","z":"39ec1c72.cf0884","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":340,"wires":[["c1329723.e79f78"]]},{"id":"7498aee7.f76b7","type":"comment","z":"39ec1c72.cf0884","name":"Storing the device id","info":"","x":250,"y":60,"wires":[]},{"id":"1b50d00d.87bb2","type":"comment","z":"39ec1c72.cf0884","name":"Reading the device id","info":"","x":260,"y":260,"wires":[]}]